<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= form.text_field :title, id: :blog_title, placeholder: "Title" %>
  </div>

  <div>
    <%= form.text_area :content, id: :blog_content, placeholder: "Content" %>
  </div>
    
  <div class="field">
    <label class="waves-effect waves-light btn">
      Upload Image <%= form.file_field :thumb_image, style: 'display:none;' %>
    </label>
  </div>

  <div class="field">
    <%= form.label :tag_list %>
    <%= form.text_field :tag_list %>
  </div>

  <div class="waves-effect waves-light btn">
    <%= form.submit %>
  </div>
<% end %>
