
<div class="container">
  
  <h1 class="header-title">Blogs</h1>
  <h5 class="header-title"><%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %></h5>
  <p id="notice"><%= notice %></p>
  <div class="row"><div class="col m3"></div>
    <div class="col s12 m7">
      <div class="row">
        <div class="card">
          <% @blogs.each do |blog| %>
          <div>
            <span class="card-title"><%= blog.title %></span>
          </div>
            <div class="card-image">
              <%= image_tag blog.thumb_image %>
            </div>
            <div class="card-content">
              <%= blog.content.slice(0, 200) %>...
            </div>
            <div class="card-action">
              <%= link_to 'Keep reading...', blog %>
            </div>
            <br><br>
            <%= link_to "Edit Blog", edit_blog_path(blog) %>
            <div><hr></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

    
  

  
