<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
    <% @blogs.each do |blog| %>
     
       <p><%= blog.title %></p>
       <p><%= blog.content %></p>
       <p><%= image_tag blog.thumb_image %></p>
       <p><%= link_to 'Show', blog %></p>
       <p><%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:site_admin)%></p>
       <p><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%></p>
      
    <% end %>



<br>

<%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
