 <div class="container">
   <div class="row">
     <div class="col s1"></div>
     <div class="col s10">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Title:</strong>
          <%= @blog.title %>
        </p>
        
        <p>
          <%= image_tag blog_img(@blog.thumb_image, "thumb_image"), width: "75%" %>
        </p>

        <p>
          <strong>Content:</strong>
          <%= @blog.content %>
        </p>

        <div>
          Tags: <%= @blog.tag_list %>
        </div>

        <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)%> |
        <%= link_to 'Back', blogs_path %>
     </div>
     <div class="col s1"></div>
   </div>
 </div> 
  
