<div>
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "About Me", about_path %></div>
  <div><%= link_to "Blog", blogs_path %></div>
  <div><%= link_to "Posts", posts_path %></div>
  <div><%= auth_links %></div>
</div>