<div>
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "About Me", about_path %></div>
  <div><%= link_to "Blog", blogs_path %></div>
  <div><%= link_to "Posts", posts_path %></div>
  <div><%= link_to "Login", new_user_session_path %></div>
  <div><%= link_to "Register", new_user_registration_path %></div>
  <div><%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
</div>