<% count = 0 %>
  <% while count < posts.length %>
    <div class="row">
      <div class="col s1"></div>
      <div class="col s5">
        <div class="card">
          <div class="card-image">
            <%= image_tag posts[count].image %>
            <span class="card-title"><%= posts.first.title %></span>
          </div>
          <div class="card-content">
            <div>
              Shared by <%= posts[count].user.name %>
              <br><br>
            </div>
              <%= posts[count].description.slice(0, 200) %>
          </div>
          <div class="card-action">
            <%= link_to 'View Post', posts[count] %>
          </div>
        </div>
      </div>
      <% count += 1 %>
      <% break if count >= posts.length %>
      <div class="col s1"></div>
      <div class="col s5">
        <div class="card">
          <div class="card-image">
            <%= image_tag posts[count].image %>
            <span class="card-title"><%= posts[count].title %></span>
          </div>
          <div class="card-content">
            <div>
              Shared by <%= posts[count].user.name %>
              <br><br>
            </div>
              <%= posts[count].description.slice(0, 200) %>
          </div>
          <div class="card-action">
            <%= link_to 'View Post', posts[count] %>
          </div>
        </div>
      </div>
    </div>
    <% count += 1 %>
   <% end %>