<% posts.each do |post| %>
  <div class="row">
    <div class="col s3"></div>
    <div class="col s9">
      <div class="card">
        <div class="card-image">
          <%= image_tag portfolio_img(post.image, "image") %>
          <span class="card-title"><%= post.title %></span>
        </div>
        <div class="card-content">
          <div>
            Shared by <%= post.user.name %>
            <br><br>
          </div>
          <%= post.description.slice(0, 200) %>
        </div>
        <div class="card-action">
          <%= link_to "View Post", post %>
        </div>
        
      </div>
    </div>
  </div>
<% end %>
