<% tag_items %>
<form action="blogs/search" method="get">
  <% @tag_items.each_pair do |id, value| %>
    <div>
      <input type="checkbox" id=<%= id %> name= <%= id %> value= <%= value %> class="filled-in" />
      <label for= <%= id %> > <%= value %> </label>
    </div>
  <% end %>
  <div>
    <input type="text" name="textbox"/>
  </div>
  <input type="submit" name="submit" value="Search"/>
</form>