<%= link_to "New", new_post_path %>

<div class="container">
  
  <h1 class="header-title">Posts</h1>
  <p id="notice"><%= notice %></p>
  <div class="row"><div class="col m3"></div>
    <div class="col s12 m7">
      <div class="row">
        <div class="card">
          <% @posts.each do |post| %>
            <div class="card-image">
              <%= image_tag post.image %>
              <span class="card-title"><%= post.title %></span>
            </div>
            <div class="card-content">
              <div>
                Shared by <%= post.user.name %>
                <br><br>
              </div>
              <%= post.description.slice(0, 200) %>
            </div>
            <div class="card-action">
              <%= link_to 'View Post', post %>
            </div>
            <br><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
